@model LiverpoolFanSite.Web.ViewModels.Teams.CreateTeamInputModel
@{
    this.ViewData["Title"] = "Create New Team";
}
<hr />
<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClubBadge"></label>
        <input asp-for="ClubBadge" class="form-control" />
        <span asp-validation-for="ClubBadge" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
    <hr />
    <hr />
</form>
