<link href="~/css/historyStyle.css" rel="stylesheet" />
<h1 class="text-center text-lg-center" style="padding:20px"><font face="Brush Script MT" size="+10">History Of Liverpool F.C.</font></h1>
<h3 class="text-center text-lg-center" style="padding:2px"><font face="Brush Script MT" size="+5">1892 - 2021</font></h3>

<div class="tl-entry left featured col-md-12">
    <div class="event-details">
        <span class="year">2020</span>
    </div>
    <div class="event-details events">
        <p><strong>June 25</strong></p>

        <p>Liverpool win their first Premier League title in 2020, sealing the crown with seven matches remaining.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0002/09/thumb_108223_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2019</span>
    </div>
    <div class="event-details events">
        <p><strong>December 21</strong></p>

        <p>Liverpool secured the FIFA Club World Cup for the first time in December 2019. The Reds defeated Monterrey in the semi-final before overcoming Flamengo 1-0 to lift the trophy in Qatar.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">2019</span>
    </div>
    <div class="event-details events">
        <p><strong>June 1</strong></p>

        <p>Liverpool lift their sixth European Cup by beating Tottenham Hotspur 2-0 in the Champions League final in Madrid.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/100/thumb_99564_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2017</span>
    </div>
    <div class="event-details events">
        <p><strong>June 3</strong></p>

        <p>Liverpool FC celebrates its 125th birthday.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2016</span>
    </div>
    <div class="event-details events">
        <p><strong>November 29</strong></p>

        <p>Ben Woodburn breaks Michael Owen&#39;s 19-year-old record to become Liverpool&#39;s youngest ever goalscorer, netting the second goal in a 2-0 victory over Leeds United aged just 17 years and 45 days.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2016</span>
    </div>
    <div class="event-details events">
        <p><strong>September 10</strong></p>

        <p>The new Main Stand officially opens to fans as the Reds take on champions Leicester City at Anfield. A 20,500 capacity makes it one of the largest all-seater single stands in European football.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="timeline-banner">
    <div id='div-gpt-ad-RES_HISTORY_ONE'>
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-RES_HISTORY_ONE'); });
        </script>
    </div>

</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2016</span>
    </div>
    <div class="event-details events">
        <p><strong style="font-size: 13px;">May 18</strong></p>

        <p>Liverpool lose out to Spanish side Sevilla in the Europa League final. The Reds had overcome tough ties against Manchester United, Borussia Dortmund and Villarreal en route to the showpiece in Basel but lose out to the reigning champions in J&uuml;rgen Klopp&#39;s second major final in charge.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">2015</span>
    </div>
    <div class="event-details events">
        <h2>J&uuml;rgen Klopp takes charge at Anfield</h2>

        <p><strong>October 8</strong></p>

        <p>Liverpool Football Club announce that J&uuml;rgen Klopp has been appointed as the club&#39;s new manager. The German arrives at Anfield with a track record for success forged at Borussia Dortmund.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42440_default_news_size_5.jpeg" alt="" />
    </div>
</div>



<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2015</span>
    </div>
    <div class="event-details events">
        <p><strong>October 4</strong></p>

        <p>Brendan Rodgers is relieved of his duties as manager after more than three years in charge of the Reds. The Northern Irishman joined LFC in June 2012 and oversaw a memorable title challenge in his second season, as well as developing many exciting young players.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2014</span>
    </div>
    <div class="event-details events">
        <p><strong>May 11</strong></p>

        <p>Heartbreak as Liverpool narrowly lose out to Manchester City in the race for the Premier League title, though they seal a return to the Champions League in the process.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="timeline-banner">
    <div id='div-gpt-ad-RES_HISTORY_TWO'>
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-RES_HISTORY_TWO'); });
        </script>
    </div>

</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2012</span>
    </div>
    <div class="event-details events">
        <p><strong>June 1</strong></p>

        <p>Brendan Rodgers becomes the 19th different man to take the managerial hotseat at Anfield after impressing with Swansea City.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2012</span>
    </div>
    <div class="event-details events">
        <p><strong>May 16</strong></p>

        <p>LFC part company with Kenny Dalglish following the conclusion of the 2011-12 season.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">2012</span>
    </div>
    <div class="event-details events">
        <h2>Reds end trophy wait</h2>

        <p><strong>February 26</strong></p>

        <p>Liverpool end a six-year wait for silverware with a dramatic penalty shootout victory over Cardiff City in the League Cup final at Wembley.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42650_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2011</span>
    </div>
    <div class="event-details events">
        <p><strong>May 12</strong></p>

        <p>Fenway Sports Group and Liverpool FC confirm that Kenny Dalglish has been appointed as manager on a permanent basis after signing a three-year deal.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2011</span>
    </div>
    <div class="event-details events">
        <p><strong>January 8</strong></p>

        <p>Roy Hodgson leaves the club by mutual consent, with Kenny Dalglish taking the reins until the end of the season.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">2010</span>
    </div>
    <div class="event-details events">
        <h2>Liverpool FC sold to NESV</h2>

        <p><strong>October 15</strong></p>

        <p>New England Sports Ventures (NESV) announces that it has completed the purchase of Liverpool Football Club. The sale to NESV - later known as Fenway Sports Group - who own a portfolio of companies including the Boston Red Sox, New England Sports Network and Roush Fenway Racing, had been agreed on October 6.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42654_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2010</span>
    </div>
    <div class="event-details events">
        <p><strong>July 1</strong></p>

        <p>Roy Hodgson is appointed the new manager of Liverpool FC.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2010</span>
    </div>
    <div class="event-details events">
        <p><strong>June 3</strong></p>

        <p>Liverpool FC part company with manager Rafael Benitez, six years on from the Spaniard first arriving at Anfield. A statement from Benitez read: &quot;I&#39;ll always keep in my heart the good times I&#39;ve had here, the strong and loyal support of the fans in the tough times and the love from Liverpool. I have no words to thank you enough for all these years and I am very proud to say that I was your manager.&quot;</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2007</span>
    </div>
    <div class="event-details events">
        <p><strong>July 4</strong></p>

        <p>LFC smash their transfer record to land Spain international Fernando Torres from Atletico Madrid.&nbsp;</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2007</span>
    </div>
    <div class="event-details events">
        <p><strong>May 23</strong></p>

        <p>Agony for the Reds in Athens as they lose to AC Milan in the final of the Champions League.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2007</span>
    </div>
    <div class="event-details events">
        <p><strong>April 26</strong></p>

        <p>Liverpool&#39;s youngsters retain the FA Youth Cup, beating Manchester United in a penalty shootout to clinch the cup at Old Trafford.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2007</span>
    </div>
    <div class="event-details events">
        <p><strong>February 5</strong></p>

        <p>David Moores sells Liverpool FC to American businessmen Tom Hicks and George Gillett.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2006</span>
    </div>
    <div class="event-details events">
        <p><strong>August 13</strong></p>

        <p>Liverpool beat Chelsea to win the Community Shield at the Millennium Stadium in Cardiff.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">2006</span>
    </div>
    <div class="event-details events">
        <h2>Reds win &#39;the Gerrard final&#39;</h2>

        <p><strong>May 13</strong></p>

        <p>The Reds defeat West Ham United to clinch a seventh FA Cup in a game that goes down in Anfield folklore as &#39;the Gerrard final&#39;.</p>

        <p>The captain nets a brace, including a stunning last-minute equaliser, as Liverpool win on penalties after a thrilling 3-3 draw in Cardiff.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42656_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2006</span>
    </div>
    <div class="event-details events">
        <p><strong>April 21</strong></p>

        <p>Ten years on from LFC&#39;s first Youth Cup success, the club&#39;s latest crop of talented youngsters win the trophy as they beat Manchester City.&nbsp;</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2005</span>
    </div>
    <div class="event-details events">
        <p><strong>August 26</strong></p>

        <p>The Reds come from behind to beat CSKA Moscow in extra-time and win the European Super Cup in Monaco.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">2005</span>
    </div>
    <div class="event-details events">
        <h2>The miracle of Istanbul</h2>

        <p><strong>May 25</strong></p>

        <p>The most incredible night in the club&#39;s history sees a fifth European Cup added to the Anfield trophy cabinet.&nbsp;</p>

        <p>Rafael Benitez&#39;s men find themselves 3-0 down to AC Milan at half-time of the competition&#39;s showpiece fixture in Istanbul but produce a miraculous response to draw level in the second period before winning on penalties.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42657_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2004</span>
    </div>
    <div class="event-details events">
        <p><strong>June 16</strong></p>

        <p>Rafael Benitez arrives at Liverpool having led Valencia to two La Liga titles and a UEFA Cup in three seasons at the helm.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">2003</span>
    </div>
    <div class="event-details events">
        <h2>Academy products see off Man Utd in Cardiff</h2>

        <p><b>March 2</b></p>

        <p>Goals from Steven Gerrard and Michael Owen help Liverpool overcome Manchester United to lift the League Cup in Cardiff, Gerard Houllier&#39;s sixth major trophy in three years.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42647_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2001</span>
    </div>
    <div class="event-details events">
        <p><strong>August 24</strong></p>

        <p>Liverpool become the only English side to have won five trophies in a single calendar year as they beat German giants Bayern Munich to win the European Super Cup.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">2001</span>
    </div>
    <div class="event-details events">
        <p><strong>August 12</strong></p>

        <p>The Reds beat arch-rivals Manchester United to win the Charity Shield at the Millennium Stadium.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">2001</span>
    </div>
    <div class="event-details events">
        <h2>Dortmund delight for treble-winning Reds</h2>

        <p><strong>May 16</strong></p>

        <p>Liverpool&#39;s class of 2000-01 etch their names into the history books by securing a unique treble on a thrilling night in Dortmund as they beat Alaves to lift the UEFA Cup.</p>

        <p>An unforgettable final finishes 5-4 after extra-time, with a golden own goal settling things in the Reds&#39; favour.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42658_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">2001</span>
    </div>
    <div class="event-details events">
        <h2>Owen double downs Arsenal</h2>

        <p><strong>May 12</strong></p>

        <p>Michael Owen produces one of the great FA Cup final performances, scoring twice as the Reds beat Arsenal 2-1.</p>

        <p>Gerard Houllier&#39;s side find themselves on the back foot for much of the match but two moments of brilliance from their homegrown striker settle it.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42645_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">2001</span>
    </div>
    <div class="event-details events">
        <p><strong>February 25</strong></p>

        <p>Liverpool survive an extra-time scare to overcome Birmingham City on penalties in an epic League final and clinch their first trophy since 1995.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1998</span>
    </div>
    <div class="event-details events">
        <p><strong>July 16</strong></p>

        <p>Gerard Houllier arrives as joint manager, working initially alongside Roy Evans. The campaign is less than four months old when Evans makes the decision to step down, ending a 35-year association with the Reds.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1997</span>
    </div>
    <div class="event-details events">
        <p><strong>May 6</strong></p>

        <p>Michael Owen becomes the club&#39;s youngest ever goalscorer in the penultimate game of the season, netting against Wimbledon at Selhurst Park aged just 17 years and 143 days.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1996</span>
    </div>
    <div class="event-details events">
        <p><strong>May 17</strong></p>

        <p>Michael Owen and Jamie Carragher underline their immense potential as part of a Liverpool team that clinches the club&#39;s first ever FA Youth Cup courtesy of victory over West Ham United.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1995</span>
    </div>
    <div class="event-details events">
        <p><strong>April 2</strong></p>

        <p>Steve McManaman hits a magnificent brace as Liverpool claim a record fifth League Cup success at the expense of Bolton Wanderers at Wembley.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1994</span>
    </div>
    <div class="event-details events">
        <h2>The Kop&#39;s last stand</h2>

        <p><strong>April 30</strong></p>

        <p>An emotional day at Anfield sees 44,339 supporters say a fond farewell to the standing Kop. Norwich City claim a 1-0 win on the day but, in truth, few fans are concentrating on matters on the pitch.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42639_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1992</span>
    </div>
    <div class="event-details events">
        <p><strong>October 18</strong></p>

        <p>Ian Rush writes himself into the Liverpool record books as he surpasses Roger Hunt to become the club&#39;s top scorer of all-time courtesy of a goal against Manchester United at Old Trafford.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1992</span>
    </div>
    <div class="event-details events">
        <h2>Thomas and Rush land fifth FA Cup</h2>

        <p><strong>May 9</strong></p>

        <p>Ian Rush and Michael Thomas scores as Liverpool beat Second Division outfit Sunderland to lift the FA Cup at Wembley.</p>

        <p>Rush&#39;s goal puts him out front as the top scorer in FA Cup finals, with the Welshman having netted five in three outings in the competition&#39;s showpiece.</p>

        <p>&nbsp;</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42649_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1991</span>
    </div>
    <div class="event-details events">
        <p><strong>February 21</strong></p>

        <p>Kenny Dalglish steps down as manager of Liverpool FC after almost six years in charge.</p>

        <p>The Scot had guided the Reds to three league titles, two FA Cups, a League Cup, a Super Cup and four Charity Shields after taking over from Joe Fagan.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1990</span>
    </div>
    <div class="event-details events">
        <p><strong>August 18</strong></p>

        <p>Liverpool fight back from a goal down to share the Charity Shield with Manchester United at Wembley.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1990</span>
    </div>
    <div class="event-details events">
        <h2>Reds clinch 18th league title</h2>

        <p><strong>April 28</strong></p>

        <p>Liverpool clinch the title with two games to spare as they come from behind to beat Queens Park Rangers 2-1 courtesy of goals from Ian Rush and John Barnes.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42651_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1989</span>
    </div>
    <div class="event-details events">
        <p><strong>August 12</strong></p>

        <p>Liverpool bring Arsenal crashing back down to earth as they claim a 1-0 victory over George Graham&#39;s champions to retain the Charity Shield at Wembley.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1989</span>
    </div>
    <div class="event-details events">
        <p><strong>May 26</strong></p>

        <p>Michael Thomas breaks the hearts of Kopites across the world by scoring a last-gasp goal at Anfield to secure a 2-0 win for Arsenal that sends the title to Highbury on goals scored.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1989</span>
    </div>
    <div class="event-details events">
        <h2>Rush nets twice as Reds win cup</h2>

        <p><strong>May 20</strong></p>

        <p>The Reds lift the FA Cup for the fourth time in their history.</p>

        <p>In an emotionally charged all-Merseyside final played just five weeks on from the tragic events at Hillsborough, Liverpool beat Everton 3-2 with Ian Rush scoring twice.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42730_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1989</span>
    </div>
    <div class="event-details events">
        <p><strong>April 15</strong></p>

        <p>The darkest day in the club&#39;s history. More than 25,000 Liverpool supporters travel down to Hillsborough to watch the FA Cup semi-final match with Nottingham Forest but 96 never return. They will never be forgotten.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1988</span>
    </div>
    <div class="event-details events">
        <p><strong>August 20</strong></p>

        <p>Just three months after having an FA Cup final spot-kick saved, John Aldridge goes some way to exorcising his demons by scoring a Wembley brace to help the Reds beat Wimbledon to the Charity Shield.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1988</span>
    </div>
    <div class="event-details events">
        <p><strong>May 14</strong></p>

        <p>Agony for Aldo as Liverpool lose the FA Cup final at the hands of the so-called &#39;Crazy Gang&#39;, Wimbledon. The striker&#39;s second-half penalty is kept out by David Beasant, who leads his team to a shock 1-0 victory.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1988</span>
    </div>
    <div class="event-details events">
        <p><strong>April 23</strong></p>

        <p>Kenny Dalglish&#39;s new-look Liverpool claim league title number 17 with some of the most exciting and exhilarating attacking football ever witnessed at Anfield. A side featuring Peter Beardsley, John Aldridge and John Barnes is acclaimed by some as the greatest in the club&#39;s history.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1986</span>
    </div>
    <div class="event-details events">
        <p><strong>August 16</strong></p>

        <p>Ian Rush strikes a dramatic late equaliser as the spoils are shared in an all-Merseyside Charity Shield contest at Wembley.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1986</span>
    </div>
    <div class="event-details events">
        <h2>Liverpool at the double under Kenny</h2>

        <p><strong>May 10</strong></p>

        <p>Under the guidance of player-manager Kenny Dalglish, the Reds pip reigning league champions Everton to capture a 16th championship crown and third FA Cup success - the first league and cup double in our history.</p>

        <p>Liverpool wrap up the title thanks to a King Kenny goal at Stamford Bridge on May 3, and then beat Merseyside rivals Everton 3-1 at Wembley seven days later, with Ian Rush scoring a brace.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42642_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1985</span>
    </div>
    <div class="event-details events">
        <p><strong>May 29</strong></p>

        <p>Liverpool meet Juventus in the European Cup final at Heysel Stadium in Brussels. Tragically, 39 fans - mostly Juventus supporters - lose their lives and hundreds more are injured.</p>

        <p>A day of solemn remembrance for LFC, Juventus and the entire football family.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1984</span>
    </div>
    <div class="event-details events">
        <h2>Kennedy the spot-kick hero in Rome</h2>

        <p><strong>May 30</strong></p>

        <p>Alan Kennedy is once again Liverpool&#39;s unlikely hero as Joe Fagan&#39;s men defy the odds to claim a fourth European Cup, seeing AS Roma off on penalties after a 1-1 draw.</p>

        <p>The Reds full-back holds his nerve to fire home the crucial spot-kick in a shootout that sees Bruce Grobbelaar&#39;s &#39;spaghetti legs&#39; cause Francesco Graziani to slam his penalty against the crossbar.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42636_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1984</span>
    </div>
    <div class="event-details events">
        <p><strong>May 12</strong></p>

        <p>Joe Fagan leads Reds to title glory in his first season in charge, with draws against Notts County and Norwich City enough to see Liverpool end the season as champions for the 15th time.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1984</span>
    </div>
    <div class="event-details events">
        <p><strong>March 28</strong></p>

        <p>A fourth successive League Cup victory for Liverpool in the first ever all-Merseyside cup final. Liverpool beat Everton in a replay at Manchester City&#39;s Maine Road ground after a goalless draw at Wembley, Reds skipper Graeme Souness scoring the only goal after 21 minutes to secure Joe Fagan&#39;s first trophy as manager.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1983</span>
    </div>
    <div class="event-details events">
        <h2>Reds win 14th title as Paisley bows out</h2>

        <p><strong>April 19</strong></p>

        <p>Liverpool make it back-to-back titles as they beat newly promoted Watford to the league with an 11-point cushion.&nbsp;</p>

        <p>The title, Paisley&#39;s last before bowing out in the summer of 1983, is all but won by the end of March thanks to an astonishing run of 19 wins and four draws from 24 games.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42665_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1983</span>
    </div>
    <div class="event-details events">
        <p><strong>March 26</strong></p>

        <p>Liverpool come from behind to beat Manchester United 2-1 and win the League Cup in front of 100,000 spectators at Wembley, with Alan Kennedy and Ronnie Whelan the scorers.</p>

        <p>As a mark of respect for the soon-to-be-departed Bob Paisley, captain Graeme Souness makes the great man go up first to lift the cup.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1982</span>
    </div>
    <div class="event-details events">
        <p><strong>August 21</strong></p>

        <p>Bob Paisley and co claim a ninth Charity Shield at Wembley, with an Ian Rush goal seeing off Tottenham Hotspur.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1982</span>
    </div>
    <div class="event-details events">
        <h2>A 13th title heads to Anfield</h2>

        <p><strong>May 15</strong></p>

        <p>A mid-season reshuffle sees the Reds go on a remarkable run in the second half of the season to seal a 13th league title.</p>

        <p>Such an outcome appeared unlikely at the turn of the year, with Bob Paisley&#39;s side having endured an awful start to the campaign that featured defeats to Ipswich, Wolves and Southampton.</p>

        <p>The boss subsequently took the brave decision to install Graeme Souness as captain at the expense of European Cup-winning skipper Phil Thompson - a decision that proved inspirational.&nbsp;</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42640_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1982</span>
    </div>
    <div class="event-details events">
        <p><strong>March 13</strong></p>

        <p>Liverpool pick up two trophies for the price of one as they beat Tottenham Hotspur after extra-time to clinch the League Cup at Wembley.</p>

        <p>The Reds, who had already seen off Ipswich, Barnsley, Exeter, Middlesbrough and Arsenal, come from behind in the final to win 3-1 and take home both the old Football League Cup and the new Milk Cup trophy.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1981</span>
    </div>
    <div class="event-details events">
        <h2>Kennedy the hero as Reds beat Madrid</h2>

        <p><strong>27 May</strong></p>

        <p>A left-back with a knack for the unpredictable emerges as the hero as Liverpool secure a third European Cup triumph in just five years at the expense of Real Madrid in Paris.</p>

        <p>After 83 minutes of dour deadlock, Alan Kennedy throws off his defensive shackles to latch onto his namesake Ray&#39;s throw-in before unleashing a fierce left foot drive that flies into the far corner of the net.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42668_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1981</span>
    </div>
    <div class="event-details events">
        <p><strong>April 1</strong></p>

        <p>Alan Hansen is the unlikely matchwinner as Liverpool finally break their League Cup hoodoo to lift the trophy for the first time.</p>

        <p>The elegant Scot lashes home the winner on 25 minutes to secure a 2-1 replay win over West Ham United after Kenny Dalglish had cancelled out Paul Goddard&#39;s early opener.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1980</span>
    </div>
    <div class="event-details events">
        <p><strong>August 9</strong></p>

        <p>Liverpool claim their fifth outright success in the Charity Shield with a 1-0 win over Second Division outfit West Ham - a team that had shocked the top-flight stars of Arsenal to win the FA Cup final in May.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1980</span>
    </div>
    <div class="event-details events">
        <p><strong>May 3</strong></p>

        <p>Terry McDermott becomes the first player to be named PFA Player of the Year and Football Writers&#39; Footballer of the Year in the same season as Liverpool win the title for a record-breaking 12th time, beating Aston Villa 4-1 at Anfield.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1979</span>
    </div>
    <div class="event-details events">
        <p><strong>August 11</strong></p>

        <p>Business as usual at Wembley as Liverpool beat Arsenal 3-1 to win the Charity Shield. A Terry McDermott double and one from Kenny Dalgish sees the FA Cup-winning Gunners soundly beaten.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1979</span>
    </div>
    <div class="event-details events">
        <h2>Villa victory seals league triumph</h2>

        <p><strong>May 8</strong></p>

        <p>The Boot Room boys gather for a drink having secured an 11th league title in record-breaking style, amassing a magnificent 68 points - a Football League record under the old two points for a win system.</p>

        <p>At times Bob Paisley&#39;s side were irrepressible, with a free-scoring attack that plundered 85 goals in total and a defence that became officially recognised as the meanest back four in history, having conceded just 16 goals all season.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42691_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1978</span>
    </div>
    <div class="event-details events">
        <h2>Wembley glory as Reds beat Bruges</h2>

        <p><strong>May 10</strong></p>

        <p>Liverpool become the first English side to retain the European Cup, edging out Belgian side FC Bruges in a one-sided encounter at Wembley.</p>

        <p>Bob Paisley&#39;s men dominate from start to finish but are forced to settle for a 1-0 win with the new King of the Kop, Kenny Dalglish, grabbing the crucial goal.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42671_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1978</span>
    </div>
    <div class="event-details events">
        <p><strong>March 22</strong></p>

        <p>League Cup replay agony for the Reds as they lose out to Brian Clough&#39;s Nottingham Forest in a replay.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <p><strong>December 6</strong></p>

        <p>Terry McDermott strikes a magnificent hat-trick as Liverpool thrash Kevin Keegan&#39;s Hamburg 6-0 to secure the European Super Cup at Anfield after a hard-fought 1-1 draw in Germany.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <p><strong>August 13</strong></p>

        <p>An entertaining goalless draw sees Liverpool share the Charity Shield with Manchester United. The most encouraging aspect of the game for the Reds is the performance of new boy Kenny Dalglish, who slots in perfectly.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <h2>Kenny arrives from Celtic</h2>

        <p><strong>August 10</strong></p>

        <p>Kenny Dalglish&#39;s love affair with Liverpool gets under way as he joins the club from Celtic. Fans still heartbroken by the departure of Kevin Keegan could not have foreseen what was to come from the influential Scot, but were witnessing a significant moment in the history of LFC.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42644_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <h2>Reds conquer Rome to win European Cup</h2>

        <p><strong>May 25</strong></p>

        <p>On a balmy night in Rome&#39;s Stadio Olimpico, Emlyn Hughes proudly holds aloft the greatest prize in club football - the European Cup.&nbsp;</p>

        <p>Liverpool overcome Borussia M&ouml;nchengladbach to clinch the prize, with Terry McDermott, Tommy Smith and Phil Neal scoring in a 3-1 win that marked the start of an unprecedented period of dominance by an English club in Europe.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42673_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <p><strong>May 21</strong></p>

        <p>Having already been crowned league champions, Liverpool suffer FA Cup final heartbreak at the hands of Manchester United. The defeat proves all the more distressing for fans as it prevents the Reds from winning an unprecedented treble.&nbsp;</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <p><strong>May 14</strong></p>

        <p>Liverpool win a 10th league title, largely thanks to a home record that sees them claim an impressive 18 victories from 21 matches at Anfield.</p>

        <p>Only Middlesbrough, West Brom and West Ham manage to escape the Reds&#39; home ground without suffering defeat.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1977</span>
    </div>
    <div class="event-details events">
        <h2>&#39;Supersub&#39; downs Saint-Etienne</h2>

        <p><strong>March 16</strong></p>

        <p>One of Anfield&rsquo;s standout European nights. Liverpool recover from a 1-0 first-leg defeat at the hands of a classy Saint-Etienne&nbsp;side to progress to the semi-final thanks to David Fairclough&rsquo;s famous goal.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42674_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1976</span>
    </div>
    <div class="event-details events">
        <p><strong>August 14</strong></p>

        <p>Liverpool beat Southampton 1-0 to win the Charity Shield. John Toshack proves the goal, scoring in the 50th minute to bring more silverware to Merseyside.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1976</span>
    </div>
    <div class="event-details events">
        <h2>A second UEFA Cup victory</h2>

        <p><strong>May 9</strong></p>

        <p>A hard-fought 4-3 aggregate victory over FC Bruges gives Liverpool their second UEFA Cup title, and a repeat of the double Bill Shankly&#39;s team had managed three years earlier.</p>

        <p>The Reds come back from two down at half-time in the first leg to win 3-2, and then fight back to claim a 1-1 draw courtesy of a Kevin Keegan goal in the second leg.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42675_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1976</span>
    </div>
    <div class="event-details events">
        <p><strong>May 4</strong></p>

        <p>The Reds go into their final league game of the season knowing that a point against Wolves will be enough to clinch a record ninth title on goal difference.</p>

        <p>A 3-1 victory courtesy of goals from Kevin Keegan, Ray Kennedy and John Toshack ensures Queens Park Rangers are pipped at the post.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1974</span>
    </div>
    <div class="event-details events">
        <p><strong>September 17</strong></p>

        <p>Liverpool romp to a record-breaking victory over Norwegian side Stromsgodset, winning 11-0 in the first round of the Cup Winners&#39; Cup.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1974</span>
    </div>
    <div class="event-details events">
        <h2>Shoot-out success on Shanks&#39; swansong</h2>

        <p><strong>August 10</strong></p>

        <p>Retired former boss Bill Shankly leads the team out for the final time at Wembley as Leeds United are beaten in the Charity Shield. Bob Paisley&#39;s team require penalties to clinch the trophy after a 1-1 draw.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42676_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1974</span>
    </div>
    <div class="event-details events">
        <h2>Paisley takes charge of LFC</h2>

        <p><strong>July 26</strong></p>

        <p>Bob Paisley takes on a seemingly impossible job, succeeding Bill Shankly as manager of Liverpool Football Club. A taciturn football man, Paisley was an obvious if somewhat reluctant heir to the Anfield throne.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42646_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1974</span>
    </div>
    <div class="event-details events">
        <h2>Sensation as Shankly resigns</h2>

        <p><strong>July 12</strong></p>

        <p>An era ends. At a packed Anfield press conference, Bill Shankly confirms that he has decided to resign from his post as Liverpool manager.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42732_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1974</span>
    </div>
    <div class="event-details events">
        <h2>FA Cup returns to Anfield</h2>

        <p><strong>May 4</strong></p>

        <p>Kevin Keegan produces a magnificent performance to inspire Liverpool to their second ever FA Cup success with victory over Newcastle United at Wembley.</p>

        <p>The diminutive forward hits a superb second-half double to lead the Reds to a thoroughly deserved 3-0 victory.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42677_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1973</span>
    </div>
    <div class="event-details events">
        <h2>Europe conquered as Reds land UEFA Cup</h2>

        <p><strong>May 23</strong></p>

        <p>Bill Shankly makes it third time lucky as he finally gets his hands on Liverpool&#39;s first piece of European silverware.</p>

        <p>The Reds defeat Borussia Moenchengladbach over two legs, winning the Anfield opener 3-0 before suffering a 2-0 defeat in Germany.&nbsp;</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42653_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1973</span>
    </div>
    <div class="event-details events">
        <p><strong>April 28</strong></p>

        <p>The Reds emerge triumphant from a three-way battle for the title with Leeds United and Arsenal.</p>

        <p>A 2-0 win over Leeds in April, combined with a 2-2 draw for the Gunners at Southampton, all but hands the championship to Bill Shankly&#39;s men, who are applauded from the pitch by their opponents.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1971</span>
    </div>
    <div class="event-details events">
        <h2>Shankly defiant in defeat</h2>

        <p><strong>May 9</strong></p>

        <p>The 1971 FA Cup final ends in defeat at the hands of a double-winning Arsenal side, but the day still proves to be a significant one in the club&#39;s history.</p>

        <p>Upon returning to Liverpool, Bill Shankly puts on the most unbelievable show of defiance in front of the thousands of cheering Kopites who had lined the streets to welcome their heroes back from London.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42678_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1966</span>
    </div>
    <div class="event-details events">
        <p><strong>August 13</strong></p>

        <p>Returning World Cup winner Roger Hunt fires in an unstoppable 25-yard drive after just nine minutes to clinch a 1-0 victory over Everton and secure the Charity Shield outright for the first time in the club&#39;s history.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1966</span>
    </div>
    <div class="event-details events">
        <p><strong>May 5</strong></p>

        <p>Liverpool lose their first ever European final, suffering a 2-1 defeat to Borussia Dortmund in the European Cup Winners&#39; Cup final at Hampden Park in Glasgow.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1966</span>
    </div>
    <div class="event-details events">
        <p><strong>April 30</strong></p>

        <p>The Reds reclaim the First Division title with a 2-1 win over Chelsea at Anfield. Incredibly, just 15 players were used throughout this momentous campaign, with Gerry Byrne, Ian Callaghan, Tommy Lawrence, Tommy Smith and Ron Yeats all ever-present.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1965</span>
    </div>
    <div class="event-details events">
        <p><strong>August 14</strong></p>

        <p>Liverpool share the Charity Shield for the second consecutive year following a 2-2 draw with Manchester United.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1965</span>
    </div>
    <div class="event-details events">
        <h2>Anfield frenzy stuns Inter</h2>

        <p><strong>May 4</strong></p>

        <p>Just days on from the Reds&#39; first ever FA Cup triumph at Wembley, European giants Inter Milan arrive Anfield for a European Cup semi-final first leg. Bill Shankly sends out injured heroes Gerry Byrne and Gordon Milne to parade the cup before kick-off, whipping the Kop up into a frenzy. The atmosphere carries the hosts to a famous 3-1 victory but they are denied a maiden European Cup final outing in a controversial second-leg defeat.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42724_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1965</span>
    </div>
    <div class="event-details events">
        <h2>Ee-Aye-Addio! We&rsquo;ve Won The Cup!</h2>

        <p><strong>May 1</strong></p>

        <p>For 73 years, the FA Cup remained a notable absentee on Liverpool Football Club&#39;s roll of honour - that changed on the unforgettable afternoon of May 1, 1965.</p>

        <p>The opening 90 minutes failed to yield a goal, leading to the first period of extra-time in a cup final since 1947. Goals from Roger Hunt and Ian St. John subsequently helped Liverpool to a 2-1 victory over Don Revie&#39;s Leeds United.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42637_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1964</span>
    </div>
    <div class="event-details events">
        <h2>Reds sport all-red kit for first time</h2>

        <p><strong>November 25</strong></p>

        <p>In November 1964, Bill Shankly had an idea: to send his team out in all red.</p>

        <p>In doing away with white socks and trim, Shanks thought his team would be more intimidating. As ever, he was right</p>

        <p>&nbsp;</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42681_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1964</span>
    </div>
    <div class="event-details events">
        <p><strong>August 17</strong></p>

        <p>Welcome to Europe, Liverpool FC. The Reds face Icelandic outfit Reykjavik in their first ever European Cup outing and make a strong start as they claim a five-goal away victory. A 6-1 win at Anfield follows in the second leg, making for a remarkable 11-1 success on aggregate.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1964</span>
    </div>
    <div class="event-details events">
        <p><strong>April 15</strong></p>

        <p>The first piece of silverware of a truly historic season arrives as Liverpool and West Ham play out a 2-2 draw to share the Charity Shield.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1964</span>
    </div>
    <div class="event-details events">
        <p><strong>April 18</strong></p>

        <p>After a season of consolidation following promotion from Division Two, Bill Shankly completes a remarkable turnaround in the club&#39;s fortunes by bringing the League Championship back to Anfield for a sixth time.</p>

        <p>The key points are picked up with a 5-0 win against Arsenal on April 18, 1964, a day when the turnstiles had to be locked an hour before kick off because the ground was already full.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1962</span>
    </div>
    <div class="event-details events">
        <h2>Reds promoted from Division Two</h2>

        <p><strong>April 21</strong></p>

        <p>When Bill Shankly signed Ron Yeats in July 1961, he claimed with astonishing certainty that the centre-back would lead Liverpool back into the top-flight of English football. Within 12 months, the legendary manager was proved right.&nbsp;</p>

        <p>Promotion was confirmed with five games remaining thanks to a 2-0 win over Southampton. Eight years after Don Welsh oversaw one of the darkest days in the club&#39;s history, Liverpool were back were they belonged.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42638_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1961</span>
    </div>
    <div class="event-details events">
        <p><strong>May 2</strong></p>

        <p>Ian St John was one of two landmark Scottish signings for Bill Shankly in 1961, alongside centre-back Ron Yeats.</p>

        <p>The club agreed to pay Motherwell a record &pound;37,500 for a man known as The Saint, but repaid every penny in goals and assists over the next decade.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1959</span>
    </div>
    <div class="event-details events">
        <h2>Shankly signs in at Anfield</h2>

        <p><strong>December 1</strong></p>

        <p>A date that will forever be etched in the annals of Anfield history - Liverpool Football Club announce Bill Shankly as the successor to Phil Taylor in the managerial hotseat.</p>

        <p>Nobody knew at the time but the Reds were about to enter their most exciting era. Second Division mediocrity was to soon be a thing of the past as Shanks set about transforming the club&#39;s fortunes. Supporting Liverpool would never be the same again.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42655_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1959</span>
    </div>
    <div class="event-details events">
        <p><strong>January 15</strong></p>

        <p>Liverpool suffer the humiliation of losing to non-league opposition as they are knocked out of the FA Cup by Worcester.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1954</span>
    </div>
    <div class="event-details events">
        <p><strong>December 11</strong></p>

        <p>On a freezing December afternoon, Liverpool sink to a record 9-1 defeat against Birmingham City at St Andrews.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1954</span>
    </div>
    <div class="event-details events">
        <p><strong>April 24</strong></p>

        <p>Fifty consecutive seasons of top-flight football comes to an end. A 1-0 defeat at home to Cardiff City - a game which sees Billy Liddell miss a penalty - consigns Don Welsh&#39;s team to the drop.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1952</span>
    </div>
    <div class="event-details events">
        <p><strong>February 2</strong></p>

        <p>Anfield welcomes 61,905 fans for an FA Cup fourth round meeting with Wolves - a record attendance to this day.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1950</span>
    </div>
    <div class="event-details events">
        <p><strong>April 29</strong></p>

        <p>Liverpool suffer cup final defeat to Arsenal in their first ever Wembley outing.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1947</span>
    </div>
    <div class="event-details events">
        <h2>Reds confirmed as post-war champions</h2>

        <p><b>June 14</b></p>

        <p>The Reds finish just a point ahead of rivals Manchester United to win the first post-war league title.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42682_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1946</span>
    </div>
    <div class="event-details events">
        <p><strong>November 23</strong></p>

        <p>Jack Balmer hits consecutive hat-tricks in matches against Portsmouth, Derby County and Arsenal - a feat that has yet to be bettered by a Liverpool player.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1946</span>
    </div>
    <div class="event-details events">
        <p><strong>September 12</strong></p>

        <p>A &pound;12,500 transfer fee may not sound much these days but that&#39;s how much chairman Billy McConnell and manager George Kay agreed to pay Newcastle United for striker Albert Stubbins, a record fee at the time. Stubbins went on to score 83 goals in 178 first-team appearances for the Reds.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1938</span>
    </div>
    <div class="event-details events">
        <p><strong>February 16</strong></p>

        <p>Jack Balmer nets what is thought to be the fastest goal in Liverpool Football Club&#39;s long and illustrious history. Just 10 seconds had passed in the season&#39;s second Merseyside derby at Goodison Park when Balmer rippled the back of the net in front of 33,465 largely baffled spectators.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left featured">
    <div class="event-details">
        <span class="year">1928</span>
    </div>
    <div class="event-details events">
        <h2>Spion Kop gets a roof</h2>

        <p><strong>August 28</strong></p>

        <p>The Spion Kop had already developed a reputation for being one of the most vocal stands in the country, but after undergoing a major revamp that saw it extended to 425 feet by 131 feet, it was transformed into an imposing sight for opposition players, housing up to 30,000 standing spectators.</p>

        <p>The most important addition saw it topped by an iron cantilever roof, a feature that would act an as an amplifier for the deafening roars of a passionate crowd.</p>
    </div>
</div>
<div class="tl-entry right featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42641_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1923</span>
    </div>
    <div class="event-details events">
        <h2>Back-to-back title triumphs</h2>

        <p><strong>April 21</strong></p>

        <p>Despite manager David Ashworth deciding to return to former club Oldham Athletic midway through the season, Liverpool go on to clinch the Championship by finishing six points ahead of Sunderland. Oldham were bottom of the League at the time of Ashworth&#39;s return, and indeed went on to suffer relegation.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42683_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1922</span>
    </div>
    <div class="event-details events">
        <p><strong>April 15</strong></p>

        <p>An opening-day thrashing at Sunderland&#39;s Roker Park hardly bodes well for a renewed assault on the league title, but Liverpool recover from the 3-0 reverse to bring a third Championship to Anfield. Despite losing two of the final three games of the season, Liverpool end the 1921-22 campaign six points ahead of second-placed Tottenham.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1914</span>
    </div>
    <div class="event-details events">
        <p><strong>April 25</strong></p>

        <p>Liverpool make their first appearance in an FA Cup final but lose out to Burnley.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1906</span>
    </div>
    <div class="event-details events">
        <p><strong>April 14</strong></p>

        <p>The First Division title returns to Anfield as newly promoted Liverpool follow up the Division Two title by running out as winners in the top flight the very next season.&nbsp;</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1901</span>
    </div>
    <div class="event-details events">
        <h2>Reds crowned champions for the first time</h2>

        <p><strong>April 29</strong></p>

        <p>Just eight years after entering the Football League, Liverpool Football Club rise to the pinnacle of the English game with a title triumph that set the tone for future generations at Anfield.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42652_default_news_size_5.jpeg" alt="" />
    </div>
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1896</span>
    </div>
    <div class="event-details events">
        <p><strong>August 17</strong></p>

        <p>Tom Watson is appointed Liverpool manager. The Newcastle-born boss had taken Sunderland from obscurity to three league titles before Reds chief John McKenna made a financial offer he simply couldn&#39;t refuse.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1896</span>
    </div>
    <div class="event-details events">
        <p><strong>February 18</strong></p>

        <p>Promotion-chasing Liverpool bank a record league win with a 10-1 romp over Rotherham that had Anfield purring.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1894</span>
    </div>
    <div class="event-details events">
        <p><strong>April 28</strong></p>

        <p>Liverpool win promotion to the First Division at the first attempt.</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right normal">
    <div class="event-details">
        <span class="year">1893</span>
    </div>
    <div class="event-details events">
        <p><strong>September 2</strong></p>

        <p>Liverpool play their first ever Football League game against Middlesbrough Ironopolis.</p>
    </div>
</div>
<div class="tl-entry left normal empty">
</div>

<div class="tl-entry left normal">
    <div class="event-details">
        <span class="year">1892</span>
    </div>
    <div class="event-details events">
        <p><strong>September 3</strong></p>

        <p>Higher Walton are the opposition as Liverpool play their first competitive match - an 8-0 victory!</p>
    </div>
</div>
<div class="tl-entry right normal empty">
</div>

<div class="tl-entry right featured">
    <div class="event-details">
        <span class="year">1892</span>
    </div>
    <div class="event-details events">
        <h2>Liverpool Football Club is formed</h2>

        <p><strong>June 3</strong></p>

        <p>On March 15, 1892, John Houlding famously broke from the board of Everton to form a new club - Liverpool FC. The club was formally recognised by the Board of Trade on June 3, making it our official birthday.</p>
    </div>
</div>
<div class="tl-entry left featured">
    <div class="img-container">
        <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/default/0001/43/thumb_42733_default_news_size_5.jpeg" alt="" />
    </div>
</div>
