@using LiverpoolFanSite.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            @if (this.User.Identity.IsAuthenticated)
            {
                <h1><font face="Brush Script MT" size="+7">Hello, @this.User.Identity.Name</font></h1>
            }
            <a href="https://www.liverpoolfc.com/hillsborough"><img src="/assets/img/never-forgotten-title.png" class="center" /></a>
            <br />
            <br />
            <div id="cms-block-51243" class="cms-block cms-block-element" data-block-type="sonata.block.service.text">
                <div class="champs-wall">
                    <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/page_banner/0002/11/aa0024fde91a556201a3e18aced77ddcbcebaca9.jpeg" class="tablet" />
                </div>
            </div>
            <hr />
            <h2 class="section-heading text-uppercase">Links</h2>
            <h3 class="section-subheading text-muted"><font face="Brush Script MT" size="+4">" Walk on, walk on . With hope in your heart . And You'll Never Walk Alone "</font></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" asp-controller="Tables" asp-action="PremierLeague">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/premierLeagueLogo.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Premier League Table</div>
                        <div class="portfolio-caption-subheading text-muted">Season 20/21</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/anfield.jpeg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Stadium Tours</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" asp-controller="Home" asp-action="History">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/history.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Club History</div>
                        <div class="portfolio-caption-subheading text-muted">Our Heroes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" asp-controller="Tables" asp-action="ChampionsLeague">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/championsLeagueLogo.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Champions League</div>
                        <div class="portfolio-caption-subheading text-muted">Season 20/21</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" asp-controller="Sponsors" asp-action="Index">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/sponsors.jpg" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Club Official Sponsors</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" asp-controller="Home" asp-action="Gallery">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/wallpapers.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Gallery</div>
                        <div class="portfolio-caption-subheading text-muted">Memorable images from past and present</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>