<link href="~/css/sponsors.css" rel="stylesheet" />
<br />
<h1 class="text-black-50 text-center">Main Sponsors</h1>
<br />
<div id="mainSponsors " class="container" style="width: 100%">
    <div class="row" align="justify">
        <div class="col-md-3">
            <a href="http://www.standardchartered.com/home/en/index.html?camp_id=liverpool_source=liverpoolfctv_medium=4" title="Standard Chartered" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/16/thumb_15152_partnerlogo_partner_footer.png" alt="Standard Chartered">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.nike.com/gb/" title="Nike" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/09/thumb_108617_partnerlogo_partner_footer.png" alt="Nike">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.axa.com/?utm_source=liverpoolfc&amp;utm_medium=logo-partnership&amp;utm_campaign=lfc1819season" title="AXA" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/74/thumb_73714_partnerlogo_partner_footer.png" alt="AXA">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.expedia.co.uk/" title="Expedia" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/21/thumb_120808_partnerlogo_partner_footer.png" alt="Expedia">
            </a>
        </div>
    </div>
</div>

<br />
<br />
<br />
<h1 class="text-black-50 text-lg-center">Secondary</h1>
<br />
<div id="secondarySponsors" class="container" style="width: 100%">
    <div class="row" align="justify">
        <div class="col-md-2">
            <a href="http://www.carlsberg.com/" title="Carlsberg" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/92/thumb_91236_partnerlogo_partner_footer.png" alt="Carlsberg">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.tourism-mauritius.mu" title="Mauritius" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/18/thumb_117132_partnerlogo_partner_footer.png" alt="Mauritius">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.nivea.co.uk/highlights/nivea-men-liverpool-fc-partnership" title="Nivea" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/33/thumb_32543_partnerlogo_partner_footer.png" alt="Nivea">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.hollyfrontier.com/home/default.aspx" title="Holly Frontier" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/11/thumb_110194_partnerlogo_partner_footer.png" alt="Holly Frontier">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://uk.tigerwit.com/about/liverpool" title="TigerWit" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/73/thumb_72810_partnerlogo_partner_footer.png" alt="TigerWit">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://tribus-watches.com/pages/liverpool-fc?utm_source=LFC&amp;utm_medium=Website&amp;utm_campaign=LFC25" title="Tribus" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/13/thumb_112227_partnerlogo_partner_footer.png" alt="Tribus">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://mg.co.uk/" title="MG" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/92/thumb_91232_partnerlogo_partner_footer.png" alt="MG">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.acronis.com/en-gb/" title="Acronis" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/02/thumb_101725_partnerlogo_partner_footer.png" alt="Acronis">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.easports.com/" title="EA Sports" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/08/thumb_107697_partnerlogo_partner_footer.png" alt="EA Sports">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.quorn.com/" title="Quorn" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/08/thumb_107008_partnerlogo_partner_footer.png" alt="Quorn">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.cadbury.co.uk/" title="Cadbury UK" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/17/thumb_116415_partnerlogo_partner_footer.jpeg" alt="Cadbury UK">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.nipponham.co.jp/eng/" title="NH Foods" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/86/thumb_85085_partnerlogo_partner_footer.png" alt="NH Foods">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://iugis.com/uk/home/" title="iugis" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0002/09/thumb_108623_partnerlogo_partner_footer.png" alt="iugis">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.lavazza.co.uk/en.html" title="Lavazza" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/76/thumb_75076_partnerlogo_partner_footer.png" alt="Lavazza">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://uk.joiebaby.com/liverpoolfc/" title="Joie Baby" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/41/thumb_40979_partnerlogo_partner_footer.png" alt="Joie Baby">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.mitel.com/learn/case-studies/liverpool-football-club" title="Mitel" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/78/thumb_77004_partnerlogo_partner_footer.png" alt="Mitel">
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://www.levi.com/GB/en_GB/" title="Levis" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/73/thumb_72807_partnerlogo_partner_footer.png" alt="Levis">
            </a>
        </div>
        <div class="col-md-2">
            <a href="http://www.verbier.ch/en/index.htm?reset=1" title="Verbier" target="_blank">
                <img src="https://d3j2s6hdd6a7rg.cloudfront.net/v2/uploads/media/partnerlogo/0001/74/thumb_73386_partnerlogo_partner_footer.png" alt="Verbier">
            </a>
        </div>
    </div>
</div>