@model LiverpoolFanSite.Web.ViewModels.News.SingleNewsViewModel;

<hr />
<a href="#" class="btn btn-info btn-sm mb-3 has-icon" data-toggle="collapse" data-target=".forum-content" onclick="goBack()"><i class="fa fa-arrow-left mr-2"></i>Back</a>

<div class="timeline-image">
    <img class="rounded img-fluid" src="@Model.ImageUrl " style="float:left" />
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h1 class="text-xl-right"style="color:black">@Model.Title</h1>
            <p class="subheading text-sm-right"><i class="fas fa-calendar-alt"></i> @Model.CreatedOn</p>
        </div>
        <hr />
        <div class="timeline-body">
            <p class="text-sm-right">@Model.Content</p>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        function goBack() {
            window.history.back();
        }



        function solve() {
            const input = document.getElementById("input").textContent.split(/[!.?]/gim);
            const output = document.getElementById("output");

            let text = [];

            if (input.length < 3) {
                addParagraph(input.join("."));
            } else {

                for (let i = 0; i < input.length; i++) {
                    if (text.length === 3) {
                        addParagraph(text.join("."));
                        text = [];
                    }

                    text.push(input[i]);
                }

                if (text.length > 0) {
                    addParagraph(text.join("."));
                    text = [];
                }
            }

            function addParagraph(text) {
                const paragraph = document.createElement("p");
                let description = document.createTextNode(text);

                paragraph.appendChild(description);
                output.appendChild(paragraph);
            }
        }
    </script>
} 
