<div class="card" style="width: 65rem; padding: 20px">
    <img class="card-img-top center" src="~/images/anfield/thisIsAnfield.png" alt="Card image cap">
    <div class="card-body justify-content-center">
        <h5 class="card-title text-lg-center">Thank you for booking a tour of Anfield</h5>
        <p class="card-text text-xl-center">A member of our staff will get in touch with you on your email to arrange details</p>
    </div>
</div>