<h1 class="text-lg-center" style="padding:20px; color:red">Thank you for contacting us</h1>
<h3 class="text-lg-center" style="padding:20px; color:orangered">We'll get in touch with you very soon</h3>

<div class="timeline-image">
    <img class="rounded-circle img-fluid" src="https://www.theanfieldwrap.com/uploads/2020/03/P2020-03-11-Liverpool_Atletico-21-1080x675.jpg" style="float:inherit" />
</div>